<% layout("/layouts/boilerplate")  -%>
<body>
    <h3>All Listings</h3>
     <!-- <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form>  -->
    <div class="container">

    <% for(let listing of allListings){ %>
      
      <div class="row">
        <div class="card " style="width: 19rem; border: none;">
            <img id="imgs" src="<%= listing.image %>" class="card-img-top" alt="" style="height: 19rem;" >
            <div class="card-body">
              <h5 class="card-title"> <b><%= listing.title %> </b></h5>
              <p class="card-text">  </p><%= listing.description %></p>
                <p class="card-price"> &#x20B9; <%=  listing.price.toLocaleString("en-IN") %></p>
               
              <a href="/listings/<%= listing._id %>" class="btn btn-primary">Go in</a>
            </div>
          </div>
        </div>
       
    <% } %>

  </div>
</body>
